{% block form_errors %}
    {% if errors|length > 0 %}
        {% if compound %}
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="form-control-feedback" style="color: red;">{{ errors[0].message }}</div>
        {% endif %}
    {% endif %}
{% endblock form_errors %}