{% extends 'layouts/master.html.twig' %}

{% block title %}Dashboard | invoice_edit{% endblock %}

{% block content %}
    <div class="m-grid__item  m-grid__item--fluid m-wrapper">
        <div class="m-subheader">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title text-uppercase">
                        Invoices
                    </h3>
                </div>
            </div>
        </div>

        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Create new Invoice
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    {% include 'invoice/_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('invoice.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let addMore = document.querySelector('#addRow');
            let parent = document.querySelector('#parentInvoice');
            let child = parent.dataset.child;

            parent.removeChild(parent.childNodes[0]);
            let existingChild = parent.querySelectorAll('tr');

            existingChild.forEach((ch, index) => {
                ch.id.replace(/__name__/g, (index));
            });

            addProductRow(parent, child);
            addMore.addEventListener('click', function (e) {
                addProductRow(parent, child);
            });
        });
    </script>
{% endblock %}
