{% extends 'layouts/master.html.twig' %}

{% block title %}Dashboard | invoice_index{% endblock %}

{% block content %}
    <div class="m-grid__item  m-grid__item--fluid m-wrapper">
        <div class="m-subheader">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title text-uppercase">
                        Invoices
                    </h3>
                </div>
            </div>
        </div>

        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                All Invoice
                            </h3>
                        </div>
                    </div>
                </div>

                <data-table-component :data-items="{{ invoices }}" inline-template>
                    <div class="m-portlet__body">
                        <!--begin: Search Form -->
                        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                            <div class="row align-items-center">
                                <div class="col-xl-8 order-2 order-xl-1">
                                    <div class="form-group m-form__group row align-items-center">
                                        <div class="col-md-4">
                                            <div class="m-input-icon m-input-icon--left">
                                                <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch" v-model="search">
                                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                                <span>
                                                    <i class="la la-search"></i>
                                                </span>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                    <a href="{{ path('invoice_new') }}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                    <span>
                                        <i class="la la-cart-plus"></i>
                                        <span>
                                            Create Invoice
                                        </span>
                                    </span>
                                    </a>
                                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                                </div>
                            </div>
                        </div>
                        <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
                            <table class="m-datatable__table" id="m-datatable--1066050570309" style="display: block; position: static; height: auto; overflow-x: auto;" width="100%">
                                <thead class="m-datatable__head">
                                <tr class="m-datatable__row" style="height: 53px;">
                                    <th title="Field #1" class="m-datatable__cell m-datatable__cell--sort" data-field="
                                            Order ID
                                        "><span style="width: 163px;">
                                            Invoice Number
                                        </span>
                                    </th>
                                    <th title="Field #2" class="m-datatable__cell m-datatable__cell--sort" data-field="
                                            Owner
                                        "><span style="width: 163px;">
                                            Client Name
                                        </span>
                                    </th>
                                    <th title="Field #3" class="m-datatable__cell m-datatable__cell--sort" data-field="
                                            Contact
                                        "><span style="width: 163px;">
                                            Date
                                        </span>
                                    </th>
                                    <th title="Field #4" class="m-datatable__cell m-datatable__cell--sort" data-field="
                                            Car Make
                                        "><span style="width: 163px;">
                                            Due Date
                                        </span>
                                    </th>
                                    <th title="Field #5" class="m-datatable__cell m-datatable__cell--sort" data-field="
                                            Car Model
                                        "><span style="width: 163px;">
                                            Discount (%)
                                        </span>
                                    </th>
                                    <th title="Field #5" class="m-datatable__cell m-datatable__cell--sort" data-field="
                                            Car Model
                                        "><span style="width: 163px;">
                                            Deposit
                                        </span>
                                    </th>
                                    <th title="Field #5" class="m-datatable__cell m-datatable__cell--sort" data-field="
                                            Car Model
                                        "><span style="width: 163px;">
                                            Subtotal
                                        </span>
                                    </th>
                                    <th title="Field #5" class="m-datatable__cell m-datatable__cell--sort" data-field="
                                            Car Model
                                        "><span style="width: 163px;">
                                            Total
                                        </span>
                                    </th>
                                    <th title="Field #6" class="m-datatable__cell m-datatable__cell--sort" data-field="
                                            Color
                                        "><span style="width: 163px;">
                                            Actions
                                        </span></th>
                                </tr>
                                </thead>
                                <tbody class="m-datatable__body" style="">
                                <tr v-for="item in filteredInvoiceList" data-row="0" class="m-datatable__row m-datatable__row--even" style="height: 43px;">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 163px;" v-text="item.number"></span>
                                    </td>
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 163px;" v-text="item.client.name"></span>
                                    </td>
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 163px;">${ item.date | moment }</span>
                                    </td>
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 163px;">${ item.dueDate | moment }</span>
                                    </td>
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 163px;" v-text="item.discount"></span>
                                    </td>
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 163px;" v-text="item.deposit"></span>
                                    </td>
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 163px;" v-text="item.subTotal.toFixed(2)"></span>
                                    </td>
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 163px;" v-text="item.total.toFixed(2)"></span>
                                    </td>
                                    <td data-field="Order ID" class="m-datatable__cell">
                                            <span style="width: 163px;">
                                                <a class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only" :href=`/invoices/${item.id}/download`>
                                                    <i class="fa flaticon-file"></i>
                                                </a>
                                                <a class="btn btn-outline-accent m-btn m-btn--icon m-btn--icon-only" :href=`/invoice/${item.id}/edit`>
                                                    <i class="fa flaticon-edit-1"></i>
                                                </a>
                                            </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                                <button @click="prevPage" v-show="prev">
                                    Previous
                                </button>
                                <button @click="nextPage" v-show="next">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                </data-table-component>
            </div>
        </div>
    </div>
{% endblock %}