{% extends 'layouts/master.html.twig' %}

{% block title %}Dashboard | product_show{% endblock %}

{% block content %}
    <div class="m-grid__item  m-grid__item--fluid m-wrapper">
        <div class="m-subheader">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title text-uppercase">
                        Products
                    </h3>
                </div>
            </div>
        </div>

        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                {{ product.name }}
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    {{ product.description }}
                    {% include 'product/_delete_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
